<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartTracker">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.smartTracker.signScreen.SignActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.smartTracker.mainScreen.MainActivity"/>
        <activity android:name="com.example.smartTracker.mainScreen.habits.HabitActivity"
            android:parentActivityName="com.example.smartTracker.mainScreen.MainActivity"/>
        <activity android:name="com.example.smartTracker.mainScreen.habits.AddHabitActivity"
            android:parentActivityName="com.example.smartTracker.mainScreen.MainActivity"/>
        <activity android:name=".mainScreen.rating.ProfileActivity"
            android:parentActivityName="com.example.smartTracker.mainScreen.MainActivity"/>

        <service android:name=".signScreen.SignService"/>
        <service android:name="com.example.smartTracker.mainScreen.habits.HabitsService"
            android:foregroundServiceType="dataSync"/>
        <service android:name=".mainScreen.rating.RatingService"/>
        <service android:name=".mainScreen.rating.ProfileService"/>

        <receiver android:name=".mainScreen.habits.HabitsNotificationsReceiver"/>
        <receiver android:name=".DateUpdateReceiver"/>
    </application>

</manifest>